body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    color: whitesmoke;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #023047;
    font-size: small;
    gap: 160px;
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
    margin-left: 169px;
}

li {
    margin-left: 10px;
}

.section1 {
    background-color: #023047;
}

.section2 {
    background-color: whitesmoke;
    color: black;
}

.section3 {
    background-color: #dee2e6;
    color: black;
}

.section4 {
    background-color: whitesmoke;
    color: black;
}

.footer {
    display: flex;
    background-color: #1d3557;
    color: whitesmoke;
    font-size: x-small;
    justify-content: center;
    font-weight: 550;
}

.section1, .section2, .section3, .section4 {
    display: flex;
    flex: 1;
}

.para-header {
    font-weight: 1000;
    margin-left: 5px;
}

.para1-section1 {
    font-size: 20px;
    font-weight: bold;
}

.para2-section1 {
    font-size: small;
}


.para1-section1, .para2-section1 {
    margin-left: 168px;
}

.left-section1, .right-section1 {
    flex: 1;
}

.right-section1 {
    display: flex;
    background-color: #adb5bd;
    justify-content: center;
    align-items: center;
    margin: 45px;
    margin-right: 80px;
    margin-bottom: 50px;
    margin-top: 25px;
    font-size: small;
    color: whitesmoke;
}

.button1 {
    color: whitesmoke;
    text-decoration: none;
    font-size: small;
    font-weight: 550;
    background-color: #42a5f5;
    border: 0.2em solid #42a5f5;
    border-radius: 2em;
    padding: 5px;
}

.button1Container {
    display: flex;
    margin-left: 168px;
}